<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.EstudiantesConnectionString"
            connectionString="Data Source=KIKAB\SQLEXPRESS;Initial Catalog=Estudiantes;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.EstudiantesConnectionString1"
            connectionString="Data Source=KIKAB\SQLEXPRESS;Initial Catalog=Estudiantes;User ID=sa;Password=database"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>