<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.EstudiantesConnectionString"
            connectionString="Data Source=DESKTOP-GS9VTSM\SQLEXPRESS;Initial Catalog=Estudiantes;"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.EstudiantesConnectionString1"
            connectionString="Data Source=DESKTOP-GS9VTSM\SQLEXPRESS;Initial Catalog=Estudiantes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>